@import "tailwindcss";

@font-face {
  font-family: "modam";
  font-display: swap;
  src: url("/fonts/modam/modam-regular.woff") format("woff");
}

@font-face {
  font-family: "modam-medium";
  font-display: swap;
  src: url("/fonts/modam/modam-medium.woff") format("woff");
}

@font-face {
  font-family: "modam-bold";
  font-display: swap;
  src: url("/fonts/modam/modam-bold.woff") format("woff");
}

@theme {
  --font-*: initial;
  --font-modam: "modam";
  --font-modam-medium: "modam-medium";
  --font-modam-bold: "modam-bold";

  --color-background: #141414;
  --color-background-thin: #1e1e1e;
  --color-background-thick: #0d0d0d;
  --color-foreground: #ffffff;
  --color-foreground-mute: #606060;
  --color-primary: #bce356;
  --color-danger: #f84646;
}

@layer base {
  * {
    @apply border-background-thin;
  }

  html {
    @apply font-modam bg-background text-foreground;
  }
}

/* Layout utilities */
@utility wrapper {
  @apply w-full px-6 lg:px-8 max-w-7xl mx-auto;
}

@utility free-card {
  @apply bg-background-thin rounded-2xl;
}
@utility card {
  @apply bg-background-thin rounded-2xl p-3;
}

@utility gradient-cart {
  @apply bg-transparent bg-linear-to-t from-transparent to-background-thin;
}

@utility no-scrollbar {
  /* Hide scrollbar for all browsers */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
/* --- */

/* Flex utilities */
@utility f-align {
  @apply flex items-center;
}

@utility f-center {
  @apply flex items-center justify-center;
}

@utility f-between {
  @apply flex items-center justify-between;
}

@utility f-around {
  @apply flex items-center justify-around;
}

@utility f-evenly {
  @apply flex items-center justify-evenly;
}

@utility f-end {
  @apply flex items-center justify-end;
}

@utility f-col {
  @apply flex flex-col;
}

@utility f-col-center {
  @apply flex flex-col items-center;
}

@utility f-col-between {
  @apply flex flex-col justify-between;
}

@utility f-col-around {
  @apply flex flex-col justify-around;
}

@utility f-col-evenly {
  @apply flex flex-col justify-evenly;
}

@utility f-col-end {
  @apply flex flex-col justify-end;
}
/* --- */

/* Typography utilities */
@utility heading {
  @apply font-modam-bold text-3xl;
}

@utility title {
  @apply font-modam-medium text-xl;
}

@utility font-stroke {
  @apply font-modam-bold text-transparent;

  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: var(--color-foreground);
}
/* --- */

/* Button utilities */
@utility btn {
  --btn-color: var(--color-primary);
  --btn-h: calc(var(--spacing) * 10);
  --btn-px: calc(var(--spacing) * 3);
  --btn-svg: calc(var(--spacing) * 5);

  @apply rounded-full transition-all f-center;

  height: var(--btn-h);
  padding: 0 var(--btn-px);
  gap: calc(var(--btn-px) / 2);

  svg {
    width: var(--btn-svg);
    height: var(--btn-svg);
  }
}

@utility btn-sm {
  --btn-h: calc(var(--spacing) * 9);
  --btn-px: calc(var(--spacing) * 2);
  --btn-svg: calc(var(--spacing) * 4);
}

@utility btn-outline {
  @apply border;

  color: var(--btn-color);
  border-color: var(--btn-color);

  &:hover {
    background-color: color-mix(in srgb, var(--btn-color) 5%, transparent);
  }
}

@utility btn-fill {
  @apply text-background;

  background-color: var(--btn-color);

  &:hover {
    background-color: color-mix(in srgb, var(--btn-color) 90%, transparent);
  }
}
/* --- */

/* Custom utilities */
.slick-arrow {
  @apply before:text-primary;

  display: none !important;
}

.slick-dots li {
  @apply size-2! transition-all;
}

.slick-dots li button {
  @apply size-full! bg-foreground/10 rounded-full! hover:bg-foreground/20;
}

.slick-dots li.slick-active {
  @apply w-6!;
}

.slick-dots li.slick-active button {
  @apply bg-foreground;
}

.slick-dots li button::before {
  content: "";
}
/* --- */

/* Animations */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@utility infinite-scroll-container {
  @apply overflow-hidden;

  > div {
    @apply flex gap-3;
    animation: infinite-scroll 10s linear infinite;
    will-change: transform;
  }
}

@keyframes infinite-scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@utility infinite-scroll-container-reverse {
  @apply overflow-hidden;

  > div {
    @apply flex gap-3;
    animation: infinite-scroll-reverse 10s linear infinite;
    will-change: transform;
  }
}
/* --- */

/* Glow effect */
.glow-blob-bg-gradient-radial {
  background: radial-gradient(circle, var(--color-primary) 0%, transparent 70%);
}
/* --- */
